/*global styles*/
body {
	width: 100%;
	font-family: "华文细黑", san-serif;
}


/*Basic CSS Reset*/
div,
span,
body,
html,
ul,
p {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

span {
	/*display: inline-block;*/
}

a {
	color: #fff;
	text-decoration: none;
}


/*Clear Float*/
.ClearFix:after {
	content: "";
	display: block;
	visibility: none;
	clear: both;

}

/*Dropdown List Class*/
.dropdown-list {
  width: 200px;
  /*float: left;*/

}

.dropdown-list span {
	display: block;
	/*float: left;*/
}

.list-hint {
  /*display: inline-block;*/
  /*float: left;*/
  width: 200px;
  padding-left: 8px;
  border: 1px solid #999;
  color: #000;
  cursor: pointer;
}

.list-hint:after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #f43366;
  float: right;
  margin: 5px 10px;
  vertical-align: middle;
}

.list-hint:focus {
  outline:none;
}
.list-hint:focus+ul {
  display:block;
  background: #ddd;
}

.dropdown-list ul {
  list-style: none;
  width: 200px;
  display: none;
  color: #000;
}

.dropdown-list li {
  padding-left: 20px;
}

.dropdown-list li:hover {
  background: #f43366;
}
/*End Dropdown List Class*/


#topbar {
	overflow: hidden;
	padding: 15px 10px 7px;
	background-color: #228AC1;
}

#topbar span:first-child {
	display: inline-block;
	width: 36px;
	height: 36px;
	margin-left: 30px;
	background: url(../images/task_09_logo.png) no-repeat;
}

#topbar form {
	position: relative;
	display: inline-block;
	float: right;
	margin-right: 35px;
}
#topbar input {
	/*float: right;*/
	width: 290px;
	height: 26px;
	padding-left: 10px;
	border-radius: 13px;
	border: none;
}


#topbar i {
	/*float: right;*/
	position: absolute;
	top: 5px;
	left: 15px;
	display: inline-block;
	width: 17px;
	height: 17px;
	background: url(../images/task_09_search.png);
}

#topbar input:focus+i {
	background: none;
}

#topbar span:nth-child(2) {
	float: right;
	margin-right: 30px;
	color: #fff;
}

#topbar span:nth-child(2):before {
	content: "";
	display: inline-block;
	position: relative;
	top: 3px;
	left: -5px;
	width: 15px;
	height: 16px;
	background: url(../images/task_09_user.png);
}
/*------------------end #topbar-------------*/


#content {
	color: #999;
	background-color: #eee;
}

#user-info {
	display: inline-block;
	box-sizing: border-box;
	width: 20%;
	height: 1000px;
	background-color: #2B2E3D;
}

#user-name {
	margin-top: 20px;
	text-align: center;
	color: #ccc;
}

#user-name:before {
	content: "";
	display: inline-block;
	width: 50px;
	height: 50px;
	margin-right: 20px;
	vertical-align: middle;
	background: #f43364;
	border-radius: 50%;
}

#user-social {
	width: 100%;
	margin-top: 20px;
	box-sizing: border-box;
}

#user-social span {
	float: left;
	width: 50%;
	box-sizing: border-box;
	text-align: center;
}

#user-social span:last-child {
	border-left: 1px solid #ccc;
}

#user-info-list {
	margin-top: 25px;
	list-style: none;
}

#user-info-list>li {
	padding: 15px 40px;
}

#user-info-list>li:before {
	content: "";
	display: inline-block;
	width: 12px;
	height: 11px;
	margin-right: 7px;
	background: url(../images/task_09_star_dark.png);
}

#user-sub-list {
	margin-left: 20px;
}

#user-sub-list>li{
	position: relative;
	padding: 8px 0;
}

#user-sub-list>li:before {
	content: "";
	display: inline-block;
	width: 12px;
	height: 11px;
	margin-right: 25px;
	background: url(../images/task_09_sidebar_arrow.png);
}

#user-sub-list>li:after {
	content: "";
	display: inline-block;
	position: absolute;
	top:12px;
	left: 20px;
	width: 12px;
	height: 11px;
	background: url(../images/task_09_folder_light.png);
}

#user-inner-list {
	margin-left: 36px;
}

#user-inner-list>li:before {
	content: "";
	display: inline-block;
	width: 10px;
	height: 11px;
	margin-right: 10px;
	background: url(../images/task_09_document_dark.png);
}

#user-info-list ul {
	display: none;
}
#user-info-list li:hover>ul {
	display: block;
}

#user-info-list>li:hover {
	background: #383e4e ;

}
/*End sidebar*/


#show-content {
	float: right;
	width: 80%;
	
}

#show-content>div {
	/*margin: 20px auto;*/
	/*padding: 10px 20px;*/
	/*width: 85%;*/
	/*background-color: #fff;*/
	box-sizing: border-box;
}

#file-path {
	width: 100%;
	padding: 10px 0;
	background-color: #fff;
}

#file-path span {
	padding-left: 10px;
}

#file-path span:first-child {
	margin-left: 30px;
}

#query-form {
	margin: 20px auto;
	padding: 10px 20px;
	width: 85%;
	background-color: #fff;
}

#query-option {
	height: 80px;
	width: 80px;
}
#query-option .list-hint {
	width: 80px;
}

#query-person  {
	float: left;
	width: 200px;
}


#price-fluctuation {
	/*padding: 0!important;*/
	/*background: transparent!important;*/
	margin: 20px auto;
	/*padding: 10px 20px;*/
	width: 85%;
	/*background-color: #fff;*/
}

#price-fluctuation a {
	display: inline-block;
	width: 26px;
	height: 70px;
	background: #f43364;
}

#price-fluctuation a:nth-child(2) {
	float: left;
	background: #fff url(../images/task_09_price_leftarrow.png) center center no-repeat;
}
#price-fluctuation a:nth-child(3) {
	margin-left: 10px;
	background: #fff url(../images/task_09_prince_rightarrow.png) center center no-repeat;
}

#price-fluctuation ul {
	display: inline-block;
	overflow: hidden;
}

#price-fluctuation li {
	float: left;
	box-sizing: border-box;
	width: 110px;
	height: 70px;
	padding:10px 20px;
	color: #000;
	text-align: center;
	background-color: #fff;
	border-top: 3px solid transparent;
	margin-left: 10px;
	/*border-right: 10px solid #eee;*/
}


#price-fluctuation li:hover {
	border-top: 3px solid #228ac1;
}

#price-fluctuation span:first-child {
	font-size: 13px;
}

#price-fluctuation span:last-child {
	display: inline-block;
	font-size: 20px;
	color: #ED6501;
}
#price-fluctuation span:last-child:first-letter {
	font-size: 16px;
	color: #999;
}

#price-history {
	display: inline-block;
	float: right;
	width: 67px;
	height: 70px;
	line-height: 70px;
	margin-left: 7px;
	padding-left: 57px;
	font-size: 13px;
	background: #fff url(../images/task_09_price_cal.png) 15px center no-repeat;
}

#exchange-total {
	width: 85%;
	margin: 20px auto;
}

#exchange-total h4 {
	margin-bottom: 5px;
	font-size: 16px;
	color: #333;
}

#exchange-total ul {
	overflow: hidden;
}

#exchange-total li {
	float: left;
	width: 180px;
	margin-left: 20px;
	padding: 15px;
	background-color: #fff;
	border-left: 4px solid #f43364;
}

#exchange-total li:first-child {
	margin-left: 0;
	border-left: 4px solid #42B19E;
}

#exchange-total li:first-child .color-box {
	background-color: #42B19E;
}

#exchange-total li:nth-child(2) {
	border-left: 4px solid #228ac1;
}
#exchange-total li:nth-child(2) .color-box {
	background-color: #228ac1;
}

#exchange-total li:nth-child(3) {
	border-left: 4px solid #CF4B36;
}
#exchange-total li:nth-child(3) .color-box {
	background-color: #CF4B36;
}

#exchange-total li:nth-child(4) {
	border-left: 4px solid #E1CD46;
}
#exchange-total li:nth-child(4) .color-box {
	background-color: #E1CD46;
}

#exchange-total .text-box span{
	display: block;
}
#exchange-total .color-box{
	float: right;
	width: 80px;
	height: 60px;
	background-color: #f43364;

	/*margin-right: 20px;*/
}
#exchange-total .text-box{
	float: left;
	margin-top: 10px;
}

#exchange-total .exchange-number {
	color: #000;
	font-size: 14px;
}

#exchange-total .exchange-number + span {
	font-size: 13px;
}




