body {
	width: 100%;
	font-size: 16px;
	font-family: 华文细黑, sans-serif;
}

div,
span,
body,
ul,
p {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}

.clearfix:after {
	content:"";
	display: block;
	visibility: hidden;
	clear: both;
}

a {
	display: inline-block;
	text-decoration: none;
	color: #000;
}

button {
	padding: 8px 40px;
	background: #fff;
	font-size: 25px;
	font-family: 华文细黑;
	border: none;
	cursor: pointer;
}

ul {
	list-style: none;
}


#nav {
	overflow: hidden;
	margin: 0 auto;
	width: 85%;
	height: 83px;
}

#nav h2 {
	display: inline-block;
	float: left;
	padding-left: 10px;

}

#nav h2:before {
	display: inline-block;
	content: "";
	/* display: block; */
	width: 31px;
	height: 31px;
	position: relative;
	top: 9px;
	left: -4px;
	background: url(../images/task_07_logos.png) 52px -156px;
}

#nav ul {
	float: right;
	margin: 0;
}

#nav li {
	float: left;
	margin-left: 20px;
	width: 68px;
	text-align: center;
}

.current-style {
	border-bottom: 3px solid #f44336;
}

.current-style a {
	color: #f44336;
}


#nav a {
	line-height: 80px;
}

#nav li:hover {
	color: #f44336;
	border-bottom: 3px solid #f44336;
}

#nav .current-style {
	color: #f44336;
}

#nav .loginbtn {
	color: #f44336;
}

#nav .loginbtn:before {
	content: "";
	display: inline-block;
	/* position: relative; */
	/* top: 1px; */
	/* right: 1px; */
	width: 14px;
	height: 17px;
	background: url(../images/task_07_login.png) no-repeat;
}

#nav .loginbtn a {
	color: #f44336;
}
/* ---------------------end nav-------------- */

#experience {
	position: relative;
	color: #fff;
	padding: 180px 15%;
	background: url(../images/task_07_01.png);
	background-size: cover;
}

#experience:after {
	  content: "";
	  display: block;
	  background: #000;
	  position: absolute;
	  top:0;
	  left: 0;
	  right:0;
	  bottom: 0;
	  opacity: .1
}

#experience h1 {
	font-size: 50px;
}

#experience p {
	font-size: 20px;
	margin-top: -33px;
    margin-bottom: 74px;
    width: 282px;
}

#experience button {
	padding: 15px 75px;
	font-size: 30px;
	color: #fff;
	background-color: #f44336;
}
/* -------------------end experience---------------- */

#features {

}

#features ul {
	text-align: center;
	overflow: hidden;
}

#features li {
	float: left;
	width: 25%;
	height: 300px;
	/* box-sizing: border-box; */
}

#features li:before {
	content: "";
	position: relative;
	top: 75px;
	display: inline-block;
	width: 42px;
	height: 42px;
	background: #f44336;
}

#features div {
	padding: 10px 65px;
	margin-top: 110px;
	border-left: 3px solid #ccc;
}

#features li:nth-child(1):before {
	background: url(../images/task_07_logos.png) -14px -54px no-repeat;
}

#features li:nth-child(2):before {
	background: url(../images/task_07_logos.png) -59px -54px no-repeat;
}
#features li:nth-child(3):before {
	background: url(../images/task_07_logos.png) -103px -54px no-repeat;
}
#features li:nth-child(4):before {
	background: url(../images/task_07_logos.png) -157px -54px no-repeat;
}

#features .clearborder {
	border: none;
}
/* --------------------end features----------------- */

#no-know {
	overflow: hidden;
	background: #ccc;
	color: #999;
}

#no-know h2 {
	text-align: center;
	margin-top: 200px;
	margin-bottom: 50px;
	font-size: 50px;
}

#no-know h2:before {
	content: "";
	display: block;
	position: relative;
	left: 50%;
	top: -110px;
	width: 92px;
	margin-left: -46px;
	height: 92px;
	background: url(../images/task_07_logos.png) -212px -5px no-repeat ;
}
/* -------------------end no-know-------------- */


#city-information {
	padding-top: 20px;
	/* padding-bottom: 190px; */
	background: url(../images/task_07_02.png);
	background-size: cover;
}

#city-information h2 {
	color: #fff;
	text-align: center;
}

#city-information div {
	margin: -10px auto 20px; 
	width: 50px;
	height: 2px;
	background-color: #fff;
}

#city-information p {
	color: #fff;
	text-align: center;
}

#city-information select {
	font-family: 华文细黑;
	color: #ccc;
}

/* #city-information option:hover {
	background-color: #f44336;
}
 */
 /* --------end city-information--------- */

 #activity {
 	/* position: relative; */
 	padding: 20px 50px;
 	background-color: #ddd;
 	text-align: center;
 }

 #imglist {
 	/* position: absolute; */
 	display: inline-block;
 	margin: auto;
 	padding-top: 80px;
 	padding-bottom: 40px;
 	overflow: hidden;
 	top: 0px;
 	left: 0px;
 	margin-left: 0px;
 	margin-top: 0px;
 	/* width: 85%; */
 }

 #activity li {
 	float: left;
 	display: inline-block;
 	width: 215px;
 	height: 435px;
 	background-size: cover;
 	background-color: #f44336;
 }

 #imglist li:nth-child(1) {
 	background: url(../images/task_07_imglist.png) -29px 0 no-repeat;
 }

 #imglist li:nth-child(2) {
 	margin-left: 30px;
 	margin-top: 55px;
 	background: url(../images/task_07_imglist.png) -267px 0 no-repeat;
 }

 #imglist li:nth-child(3) {
 	margin-left: 30px;
 	background: url(../images/task_07_imglist.png) -506px 0 no-repeat;
 }

 #imglist li:nth-child(4) {
 	margin-left: 30px;
	background: url(../images/task_07_imglist.png) -761px 0 no-repeat;
 }

 #imglist h3 {
 	margin-top: 370px;
 	font-size: 15px;
 }

 #imglist p {
 	margin-top: -7px;
 	font-size: 12px;
 	color: #999;
 }

 #imglist li:nth-child(2) h3 {
 	margin-top: -40px;
 	margin-bottom: 10px;
 	font-size: 25px;
 	letter-spacing: 22px;
 }
 /* ----------------end actiovity-------------- */

 #new-world {
 	text-align: center;
 }

 #new-world-left {
 	float: left;
 	width: 66.6%;
 	box-sizing: border-box;
 	/* padding: 120px 50px; */
 	color: #fff;
 	background: url(../images/task_07_03.png) no-repeat;
 	background-size: cover;
 }

 #new-world-left h3 {
 	margin: 0;
 	font-size: 60px;
 }

#new-world-left h4 {

}

#new-world-left h1 {
	font-size: 180px;
	margin: 0;
}

#new-world-right {
	position: relative;
	float: right;
	box-sizing: border-box;
	padding: 60px 80px 0;
	width: 33.3%;
	font-size: 14px;
}

#new-world-right:before {
	content: "";
	position: absolute;
	top: 50%;
	left: -30px;
	display: block;
	margin-top: -15px;
	width: 0;
	height: 0;
	border-left: 0px solid transparent;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-right: 28px solid #fff;

}

#new-world-right h4 {
	font-size: 20px;
}

#new-world-right span {
	color: #f44336;
}

#new-world-right p {
	text-align: left;
	line-height: 24px;
	color: #999;
}

#new-world-right button {
	margin-top: 30px;
	padding: 10px 30px;
	border: 1px solid #f44336;
	color: #f44336;
}

#new-world-right ul {
	margin: 13px auto;
	overflow: hidden;
	width: 69px;
}

#new-world-right li {
	float: left;
	margin-left: 15px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: 1px solid #999;
}

#new-world-right li:first-child {
	background-color: #999;
	margin-left: 0;
}
/* ------------------end new-world------------ */

#about-us {
	text-align: center;
}

#about-us ul {
	overflow: hidden;
}

#about-us li {
	float: left;
	/* box-sizing: border-box; */
	padding-top: 160px;
	padding-bottom: 160px;
	/* padding: 60px 40px; */
	width: 33.33%;
	display: inline-block;
}

#about-us h2 {
	margin: 10px auto 0;
}

#about-us h3 {
	margin: 5px auto;
	font-size: 25px;
}

#about-us div {

}
#about-us-left {
	background-color: #f44336;
	color: #fff;
}

#about-us-left div {
	margin: 20px auto 25px;
    width: 50px;
    height: 2px;
    background-color: #fff;
}

#about-us-left button {
	color: #fff;
	background-color: #f44336;
	border: 2px solid #fff;
}

#about-us-center div {
	margin: 20px auto 25px;
    width: 50px;
    height: 2px;
    background-color: #999;
}

#about-us-center button {
	color: #f44336;
	border: 2px solid #f44336;
}
#about-us-right {
	height: 179px;
	background: url(../images/task_07_04.png) center center no-repeat;
	background-size: cover;
}
/* ---------------end about-us--------------------- */

#volunteer {
	overflow: hidden;
	margin: 0 auto;
	width: 85%;
}


#volunteer-appeal {
	margin: 40px auto;
	text-align: center;
}
#volunteer-appeal div {
	margin: -16px auto 5px;
    width: 40px;
    height: 3px;
    background-color: #f44336;
}

#volunteer-appeal p {
	display: inline-block;
	width: 535px;
	color: #999;
}

#volunteer-about {
	display: inline-block;
	box-sizing: border-box;
	padding: 40px 20px;
	float: left;
	width: 33.3%;
}

#volunteer-about h3 {
	margin-top: 50px;
	margin-bottom: 10px;
}
#volunteer-about h3:first-child {
	margin-top: 0;
}

#volunteer-about p {
	font-size: 14px;
	color: #999;
}

#volunteer-about button {
	float: right;
	padding: 0;
	padding-left: 20px;
	font-size: 16px;
	color: #999;
	background: url(../images/task_07_arrow.png) left center no-repeat;
}

#vol

#volunteer-info {
	display: inline-block;
	box-sizing: border-box;
	padding: 40px 20px;
	width: 66.6%;
}

/* ---------------end volunteer------------- */

#contact-us {
	padding: 60px ;
	color: #fff;
	text-align: center;
	background-color: #111;
}

#contact-us p{
	font-size: 14px;
}

#contact-us p:last-child {
	margin-bottom: 20px;
}

#contact-us input {
	padding: 5px 40px;
}

/* -----------------end contact-us----------------- */

#footer {
	padding: 20px;
	background-color: #000;
	color: #ccc;
}

#footer span {
	display: inline-block;
	margin-left: 30px;
}

#footer a {
	display: inline-block;
	color: #ccc;
	float: right;
	margin-right: 30px;
}
